.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}


.div-logged {
    display: flex;
    margin: auto;
    padding: 2.5rem;
    width: 300px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: #F5F4F2;
    border-radius: 15px;
}

button {
    border: none;
    text-decoration: none;
    background: none;
}

.logout {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2.5rem;
}

.logout .icon-logout::after {
    cursor: pointer;
    display: inline-block;
    width: 2em;
    height: 1em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
  }

.div-logged h2 {
    font-weight: 500;
    font-size: 40px; 
    box-sizing: border-box;
}

.div-logged h3 {
    margin-top: 50px;
    border: 2px solid black;
    background-color: greenyellow;
    padding: 5px 10px;
}

.incorrect-credentials {
    padding-top: 20px;
    font-weight: 500;
    color: lightcoral;
}

