* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login span {
    font-weight: 500;
    font-size: 40px; 
    box-sizing: border-box;
}

.input-box {
    position: relative;
}


.input-box .input-default {
    display: flex;
    font-size: 15px;
    width: 300px;
    height: 60px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: #F5F4F2;
}

.input-box img {
    position: absolute;
    width: 30px;
    right: 20px;
    bottom: 14px;

}

.input-box .input-remember {
    margin-top: 21px;
    left: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.input-box label {
    margin-top: 20px;
    left: 28px;
    position: absolute;
    font-size: 15px;
    color: #727171;
}


.input-box a {
    font-size: 15px;
    margin-top: 20px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: #727171;
}


.login button {
    font-size: 15px;
    font-weight: 500;
    color: #727171;
    background-color: #D7D5CB;
    margin-top: 80px;
    width: 320px;
    height: 60px;
    border-radius: 30px;
    border: none;
}




