.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.div-login {
    position: relative;
    display: none;
}


.div-login h2 {
    font-weight: 500;
    font-size: 40px; 
    box-sizing: border-box;
}

.login-box {
    position: relative;
}


.login-box .login-input {
    display: flex ;
    font-size: 15px;
    width: 300px;
    height: 60px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: #F5F4F2;
}

.login-box img {
    position: absolute;
    width: 30px;
    right: 20px;
    top: 115px;
}

.login-box .input-remember {
    margin-top: 21px;
    left: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.login-box label {
    margin-top: 20px;
    left: 28px;
    position: absolute;
    font-size: 15px;
    color: #727171;
}


.login-box a {
    font-size: 15px;
    margin-top: 20px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: #727171;
}


.div-login button {
    font-size: 15px;
    font-weight: 500;
    color: #727171;
    background-color: #D7D5CB;
    margin-top: 80px;
    width: 320px;
    height: 60px;
    border-radius: 30px;
    border: none;
}

.div-login button:hover {
    background-color: #727171;
    font-weight: 700;
    color: #ffffff;
    transition: .5s;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, .2);
}


@media screen and (min-width: 600px) {
    .div-login {
        background-color: #fff;
        padding: 80px 0px 80px 0px;
        margin: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 3px 3px 25px rgba(0, 0, 0, .2);
        border-radius: 25px;
    }

    .wrapper {
        background-color: #9BB0C1;
    }
}