* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login span {
    font-weight: 500;
    font-size: 40px; 
    box-sizing: border-box;
}


.input-box input {
    display: flex;
    font-size: 15px;
    width: 300px;
    height: 60px;
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: #F5F4F2;
}

.input-box img {
    display: flex;
    position: relative;
    width: 35px;
}

.login button {
    font-size: 15px;
    font-weight: 500;
    color: #727171;
    background-color: #D7D5CB;
    margin-top: 60px;
    width: 320px;
    height: 60px;
    border-radius: 30px;
    border: none;
}




